{# modules/custom/s3_gallery/templates/page--scherm.html.twig #}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body{{ attributes.addClass('page-fullscreen') }}>
    {{ page.content }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
